@mixin border-radius($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-shadow($shadows) {
  -moz-box-shadow: $shadows;
  -webkit-box-shadow: $shadows;
  box-shadow: $shadows;
}


@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }  
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }  
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};      
}

// flat colors


@function flat-color($color, $value: light) {
  @return map-get($color, $value);
}

$red: (
  light: #e74c3c,
  dark:  #c0392b,
 );

$orange: (
  light: #e67e22,
  dark:  #d35400,
  );

$yellow: (
  light: #f1c40f,
  dark: #f39c12,
  );

$green: (
  light: #2ecc71,
  dark:  #27ae60,
  );

$blue: (
  light: #3498db,
  dark:  #2980b9,
  );

$teal: (
	light: #1abc9c,
	darK:  #16a085,
);


$purple: (
  light: #9b59b6,
  dark:  #8e44ad,
  );


$navy: (
  light: #34495e,
  dark:  #2c3e50,
  );


$gray: (
  light: #95a5a6,
  dark:  #7f8c8d,
  );


$silver: (
  light: #ecf0f1,
  dark:  #bdc3c7,
  );


$border-radius: 15px;
$font-stack: 'Orbitron', sans-serif;
$font-size: 65px;
$margin: 50px;
$row-height: 150px;


body {
  font: 100% $font-stack;
  background-color: flat-color($silver);
}

.text-center {
  text-align: center;
}

.container {
  width: 100%;
  padding:0;
 }

 .top-row {
  background: flat-color($green);
  border-top: 30px solid flat-color($green, dark);
  color: #fff;
  width: 100%; 
  margin: 0;
  min-height: $row-height;
  padding: 30px 0 0 0;
  font-size: 50px;
 }

 .row, .results {
  min-hight: $row-height;
 }

 .results h1 {
   color: flat-color($yellow, dark);
   font-size: $font-size;
 }

 .scores {
    font-size: 100px;
 }

 .user-score, .user-title h1 {
   color: flat-color($navy, dark);
 }

 .computer-score, .computer-title h1 {
   color: flat-color($red, dark);
 }
 
 h1 {
   color: flat-color($green, dark);
   margin-bottom: $margin;
   font-weight: 700;
   text-transform: uppercase;
 }
 
 .fa {
   @include border-radius($border-radius);
   color: #fff;
   font-size: 150px;
   width: 200px;
   height: 200px;
   padding: 25px;
 }

.user-fa {
   background: flat-color($navy, dark);
   cursor: pointer;
 }

 .computer .fa {
   background: flat-color($red, dark);
   @include box-shadow('inset 0px 0px 20px 5px rgba(231, 76, 60,1.0)')
 }

 .user .user-fa:hover,
 .user .user-fa.active {
   background: flat-color($blue, dark);
 }

 @include keyframes(zoom) {
  from { 
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  50% { 
  -webkit-transform: scale3d(1.05, 1.05, 1.05);
  -moz-transform: scale3d(1.05, 1.05, 1.05);
  -ms-transform: scale3d(1.05, 1.05, 1.05);
  -o-transform: scale3d(1.05, 1.05, 1.05);
  transform: scale3d(1.05, 1.05, 1.05); }
  to { 
  -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
}

.winner {
@include animation('zoom 1s');
}

.footer {
  padding-top: 50px;
  text-align: center; 
 
  .fa {
    color: #000;
    font-size: 34px;
  }
}
